name: Build, Lint and Test

on:
  push:
    branches:
      - 'main'
      - 'dev'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: mise-en-place
      uses: jdx/mise-action@v2

    - name: Install
      shell: bash
      run: |
        npm ci

    - name: Versions Report
      shell: bash
      run: |
        npm run report:versions

    - name: Build
      shell: bash
      run: |
        npm run build

    - name: Lint
      shell: bash
      run: |
        npm run lint

    - name: Test
      shell: bash
      run: |
        npm run test
